body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.face-wrapper {
  min-width: 300px;
}

.info {
  min-width: 50vw;
}

.info h3,
.info h1 {
  margin-top: 0;
}