.cell {
  width: 1em;
  height: 1em;
  border: 1px solid lightgrey;
  display: inline-block;
  padding: 0px;
  border-radius: 25%;
  opacity: 0;
}

.row{
  padding: 0px;
  height: 1em;
}

#game-table{
  padding: 1em;
  border-radius: 5%;
  background-color: #f0f0f0;
  display: inline-block;
}

.alive{
  background-color: red;
}

button{
  border: 0;
  border-radius: 15%;
  background-color: #f0f0f0;
}
