<html>
  <head>
    <title>Andrew Madden</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/layout.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">
    <link rel="stylesheet" href="stylesheets/styles.css">

  </head>
  
    
  <body>

    <div id='main' class='container'>
    </div>

    <!-- Templates -->
    <script id='project-view-template' type="text/template">
      <h3> <%= title %></h3>
      <p> <%= title %></p>
    </script>

    <!-- Libraries -->
    <script type="text/javascript" src='javascripts/libraries/jquery.js'></script>
    <script type="text/javascript" src='javascripts/libraries/underscore.js'></script>
    <script type="text/javascript" src='javascripts/libraries/backbone.js'></script>
    <script type="text/javascript" src='javascripts/libraries/handlebars.js'></script>
    <script type="text/javascript" src='javascripts/libraries/d3.js'></script>


    <!-- Backbone Models -->
    <script type="text/javascript" src='javascripts/backbone/models/Project.js'></script>

    <!-- Backbone Collections -->
    <script type="text/javascript" src='javascripts/backbone/collections/ProjectCollection.js'></script>

    <!-- Backbone Views -->
    <script type="text/javascript" src='javascripts/backbone/views/projects/ProjectView.js'></script>
    <script type="text/javascript" src='javascripts/backbone/views/projects/ProjectListView.js'></script>

    <!-- app -->
    <script type="text/javascript" src='javascripts/backbone/app.js'></script>


  </body>

</html>
