body {
  /*background-color: lightgray;*/
  background: url('../images/halftone.png');
}

svg {
  background-color: white;
}

footer{
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
  text-align: center;
}
